.layers-control-container {
    position: absolute;
    bottom: 313px; 
    right: 17px;
    background: rgba(41, 41, 41, 0.8); 
    padding: 3px; 
    border-radius: 8px; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.7); 
    z-index: 1000; 
    width: 150px;
}

.leaflet-control-layers {
    background-color: rgba(0, 0, 0, 0.8); 
    padding: 3px; 
    border-radius: 8px; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.7); 
    width: 150px; 
}

.leaflet-control-layers-list {
    font-family: 'Roboto', sans-serif; 
    color: #ffffff; 
    display: flex; 
    flex-direction: column; 
}

.leaflet-control-layers-overlays {
    display: flex; 
    flex-direction: column; 
}

.leaflet-control-layers-overlays label {
    margin-bottom: 5px; 
    display: flex; 
    align-items: center; 
    padding: 3px; 
    border: 1px solid rgba(255, 255, 255, 0.1); 
    border-radius: 4px; 
    background: rgba(255, 255, 255, 0.1); 
}

.leaflet-control-layers-overlays input[type="checkbox"] {
    margin-right: 10px; 
    accent-color: #4CAF50; 
}

.leaflet-control-layers-overlays span {
    font-size: 13px; 
    color: #ffffff; 
}

.leaflet-control-layers-expanded {
    padding: 8px; 
    background-color: rgba(41, 41, 41, 0.8); 
    border: 1px solid rgba(255, 255, 255, 0.2); 
    border-radius: 8px; 
}

.layers-control-container h3 {
    margin: 0 0 15px 0; 
    font-size: 15px; 
    font-weight: bold;
    color: #ffffff; 
    text-align: center; 
    width: 100%; 
}



  
  
  