body {
  background-color: darkslategrey;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: black; /* Ensures text contrasts well on the dark background */
}


iframe {
    position: relative;
   
    width: 800px; 
    height: 425px;
    top:-45px;
    left: -75;
   
   
}

